body
{
    background-image:url("/static/images/back11.jpg");
    background-size: cover;
    font-family:'century gothic';
}

.box{
    width:80%;
    height:auto;
    margin:10%;
    color:white;
    padding:1%;
    text-align:center;
    font-size:1.1vw;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1
{
    text-decoration:underline;
}

.box input
{
    margin:0.9%;
    padding:0.45%;
    font-size:0.9em;
    font-family:'century gothic';
    border:1px solid black;
}

.box input[type="submit"]
{
    background-color:black;
    color:white;
    font-weight: bold;
    font-size:1em;
    padding:1% 2%;
}

.display
{
    text-align:center;
    width:100%;
    margin-top:2%;
    font-size:0.9em;
}
.display table
{
    border:1px solid black;
}

.display th,td
{
    border:1px solid black;
    width:auto;
    padding:2%;
    margin:0px;
    text-align:center;
}

#error{
    background-color: red;
}