.home
{
    width:8%;
    height:6%;
    color:inherit;
    font-size:2vh;
    position:absolute;
    top:0px;
    left:0px;
    backdrop-filter: blur(50px);
}
.home img
{
    height:80%;
    width:40%;
    float:left;
}
.link{
    position:absolute;
    left:40%;
    top:5%;
    font-size:1.30vw;
    color:white;
}