body
{
    background-image:url("/static/images/back6.jpg");
    background-size: cover;
    height:90vh;
    font-family:'century gothic';
}

.form
{
    overflow:auto;
    color:black;
    width:40%;
    font-size:1.50vw;
    text-align:center;
    padding:3.5%;
    margin:1.25% 3.5%;
    font-family:'century gothic';
    font-weight:bold;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1
{
    text-decoration:underline;
}

.space
{
    width:50%;
    float:left;
}
.space h3
{
    margin-top:27%;
    padding-left:23%;
    font-size:3.5vw;
    width:50%;
    backdrop-filter: blur(8px);
}

.form input,textarea
{
    margin:1.6%;
    padding:0.8%;
    font-size:0.6em;
    font-family:'century gothic';
    border:1px solid black;
}

.lbl
{
    width:80%;
}
span
{
    font-size:0.75em;
    color:white;
}

#subreg
{
    background-color:black;
    color:white;
    font-weight: bold;
    font-size:0.75em;
    padding:1.5% 3%;
}