<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index</title>
    </head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Event Mania">

    <link rel="stylesheet" href="/static/css/index.css" >
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.png">
    <body>
        <div class="main">
            <img src="/static/images/favicon.png" class="logo">  <h1 class="head">EVENT MANIA
                <sub>A webapp for Event Manager</sub></h1><br>
            <div class="row">
                <div class="services">
                    <a href="Event_Registration"><img src="/static/images/event-registration.png"></a>
                    <br><h4>Event Registration</h4>
                </div>
                <div class="services">
                    <a href="Participant"><img src="/static/images/participant-registration.jpg"></a>
                    <br><h4>Participant Registration</h4>
                </div>
                <div class="services">
                    <a href="Event_Dashboard"><img src="/static/images/dashboard.png"></a>
                    <br><h4>Event Dashboard</h4>
                </div>
            </div>
        </div>
    </body>
    
</html>